<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="imagem/png" href="./img/logotranparent.png" />
  <title>Bem vindo-R&C Informática</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Bootstrap core CSS -->



  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="./css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <div id="painel">
      <nav id="navLogin" class="navbar navbar-dark bg-primary">
          <a class="navbar-brand" href="#">
            <img id="imageBar"src="./img/logotranparent.png.png"  class="d-inline-block align-top" alt="">
          </a>
        </nav>
  <form class="form-signin" action="/loginUser" method="POST">
  
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email"  class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" name="senha"  class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <a id="cadastro" href="Cadastro.html">não tem cadastro? cadastre-se </a>

  </form>
 
</div>

</body>

</html>